<!DOCTYPE html>
%html
  %head
    %title= 'TaskManager'
    = stylesheet_link_tag 'application'
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .navbar-inner
        .container
          .navbar-header
            %a.navbar-brand{href: '/'}
              TaskManager
    .container.master-container
      - if notice
        .alert.alert-success.fade.in{'data-alert': 'alert'}
          %a.close{'data-dismiss': 'alert', href: '#'}
            ×
          %p
            = notice

      = yield

    %footer.footer
      .container

    = javascript_include_tag 'application'

